.hero {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  padding: 20% 12%;
}

.textWrapper {
  width: 50%;
}

.heroText {
  font-family: "Chantal", sans-serif;
  color: var(--text-dark);
  font-weight: 500;
  font-size: 5rem;
  width: 100%;
}

.imgWrapper {
  overflow: visible;
  min-width: 40%;
}

.img {
  margin: auto;
}

@media (min-width: 2400px) {
  .heroText {
    font-size: 7rem;
  }
}

@media (min-width: 3700px) {
  .heroText {
    font-size: 12rem;
  }
}

@media (max-width: 1200px) {
  .heroText {
    font-size: 3.5rem;
  }
}

@media (max-width: 1000px) {
  .heroText {
    font-size: 3rem;
  }
}

@media (max-width: 1200px), (orientation: portrait) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .textWrapper {
    width: 100%;
    text-align: center;
  }

  .imgWrapper {
    min-width: 70%;
    padding-bottom: 10%;
  }
  
  .heroText {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) and (orientation: portrait) {
  .textWrapper {
    width: 80%;
  }
  
  .heroText {
    font-size: 4.25rem;
  }
}

@media (max-width: 700px) {
  .imgWrapper {
    min-width: 70%;
  }
}

@media (max-width: 575px) {
  .imgWrapper {
    min-width: 80%;
  }

  .heroText {
    font-size: 2.75rem;
  }
}

@media (max-width: 400px) {
  .imgWrapper {
    min-width: 90%;
  }

  .heroText {
    font-size: 2.5rem;
  }
}

@media (max-width: 350px) {
  .heroText {
    font-size: 2rem;
  }
}