.brand {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.home {
  display: flex;
  align-items: center;
}

.home::before {
  display: none;
}

.imgWrapper {
  min-width: 60px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.brandText {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--text-dark);
}

@media (min-width: 2400px) {
  .brandText {
    font-size: 3rem;
  }
}

@media (min-width: 3700px) {
  .brandText {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  .imgWrapper {
    display: none;
  }
}

@media (max-width: 400px) {
  .brandText {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .brandText {
    font-size: 1.25rem;
  }
}