.brand {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.home {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  align-self: stretch;
  align-items: center;
  white-space: nowrap;
}

.home::before {
  display: none;
}

.imgWrapper {
  display: grid;
  height: 100%;
  width: 13vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  margin-right: 1.5rem;
  cursor: pointer;
}


.brandText {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--accent-light);
}

@media (min-width: 2400px) {
  .brandText {
    font-size: 3rem;
  }
}

@media (min-width: 3700px) {
  .brandText {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  .brandText {
    display: none;
  }
}

@media (max-width: 400px) {
  .brandText {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .brandText {
    font-size: 1.25rem;
  }
}