.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 13%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: linear-gradient(#d6d6e6, rgba(255,255,255,0));
}

@media (max-width: 1200px) and (orientation: portrait) {
  .header {
    background: none;
  }
}