.header {
  display: flex;
  position: relative;
  height: 13vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: linear-gradient(#d6d6e6, rgba(255,255,255,0));
}