.nav {
  position: fixed;
  font-family: "Chantal", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;

  display: flex;
  width: 40%;
  right: 8%;
  justify-content: space-between;
  flex-grow: 2;
  max-width: 45%;
  color: var(--text-dark);
  transform: none;

  transform-origin: right;
  transition: transform ease-in-out 0.2s;
}

.arrow {
  z-index: -1;
  position: fixed;
  cursor: pointer;
  right: 8%;
  opacity: 0;
  background-color: var(--dark);
  display: flex;
  fill: var(--accent-light);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform-origin: center;
  transform: rotateZ(180deg);

  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.arrow::before, .arrow::after {
  display: none;
}

.arrow.scrolled {
  display: flex;
  opacity: 1;
  z-index: 110;
}

.arrow:hover {
  transform: rotateZ(180deg) scale(1.3);
}

.navscrolled {
  transform: scaleX(0);
}

.navMobile {
  font-family: "Chantal", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: var(--accent-light);

  opacity: 0;
  pointer-events: none;

  z-index: 111;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  justify-content: space-between;
  padding: calc(6.5vh - 29.5px) 8%;
  width: 100%;
  height: 100%;

  background-color: transparent;
  clip-path: circle(29.5px at calc(92% - 29.5px) 6.5vh);

  transition: all ease-in-out 0.6s;
}

.navMobileScrolled {
  background-color: var(--dark);
}

.navMobileScrolled button {
  filter: invert(1);
}

.menuBtn {
  align-self: flex-end;
  height: 59px;
  width: 59px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.navLink {
  font-size: 2rem;
  margin: 2rem 0;
  cursor: pointer;
  color: var(--accent-light);
}

.navLinkDesktop {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.open {
  background-color: var(--dark);
  color: var(--accent-light);
  clip-path: circle(200vh at calc(84% - 29.5px) 29.5px);
}

.open a::before {
  background-color: var(--accent-light);
}

.open .menuBtn {
  filter: invert(1);
  padding: 15px;
}

@media (min-width: 2400px) {
  .navLinkDesktop {
    font-size: 2.5rem;
  }

  .navLinkDesktop::before {
    height: 0.2vh;
  }
}

@media (min-width: 3700px) {
  .navLinkDesktop {
    font-size: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .nav, .arrow, .arrow.scrolled {
    display: none;
  }

  .navMobile {
    pointer-events: unset;
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .navLink {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .navLink {
    font-size: 1.25rem;
  }
}