.nav {
  position: fixed;
  font-family: "Chantal", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;

  display: flex;
  width: 40%;
  right: 8%;
  justify-content: space-between;
  flex-grow: 2;
  max-width: 45vw;
  color: var(--text-dark);
  transform: none;

  transform-origin: right;
  transition: transform ease-in-out 0.2s;
}

.navscrolled {
  transform: scaleX(0);
}

.navMobile {
  font-family: "Chantal", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: var(--accent-light);

  opacity: 0;
  pointer-events: none;

  z-index: 50;
  position: fixed;
  top: 0;
  left: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: calc(6.5vh - 29.5px) 8vw 10% 8vw;
  width: 50vw;
  height: 100vh;

  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  clip-path: circle(29.5px at calc(84% - 29.5px) 6.5vh);

  transition: all ease-in-out 0.6s;
}

.navMobileScrolled {
  opacity: 1;
  background-color: var(--dark);
  pointer-events: unset;
}

.navMobileScrolled button {
  filter: invert(1);
}

.menuBtn {
  height: 59px;
  width: 59px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  align-self: flex-end;
}

.navLink {
  font-size: 2rem;
  cursor: pointer;
  color: var(--accent-light);
}

.navLinkDesktop {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.open {
  background-color: var(--dark);
  color: var(--accent-light);
  clip-path: circle(200vh at calc(84% - 29.5px) 29.5px);
}

.open a::before {
  background-color: var(--accent-light);
}

.open .menuBtn {
  filter: invert(1);
  padding: 15px;
}

@media (min-width: 2400px) {
  .navLinkDesktop {
    font-size: 2.5rem;
  }

  .navLinkDesktop::before {
    height: 0.2vh;
  }
}

@media (min-width: 3700px) {
  .navLinkDesktop {
    font-size: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .nav {
    display: none;
  }

  .navMobile {
    pointer-events: unset;
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .navLink {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .navLink {
    font-size: 1.25rem;
  }
}