.socialsMenu {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.socialsMenu.open p {
  color: var(--text-dark);
}

.arrow {
  fill: var(--accent-light);
}

.socialsMenu.mobile .arrow {
  fill: var(--accent-light);
}

.socialsMenu.open .arrow {
  fill: var(--text-dark);
}

.socialsMenu.mobile a {
  color: var(--accent-light);
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: inherit;

  cursor: pointer;
}

.wrapper p, .arrow {
  z-index: 75;
}

.arrow {
  margin-left: 1.2rem;
  transform: rotateZ(90deg) scale(var(--little-arrow));
  
  transition: all 0.2s ease-in-out;
}

.wrapper:hover .arrow {
  transform: rotateZ(90deg) scale(var(--big-arrow));
}

.menu {
  position: absolute;
  top: calc(50% - 0.5 * 1.3rem - 10px);
  width: 100%;
  font-size: 0.8em;
  border-radius: 10px;
  background-color: var(--accent-darker);
  clip-path: inset(0 0 100% 0);

  transition: all 0.2s ease-in-out;
}

.socialsMenu.scrolled:not(.mobile) .menu {
  display: none;
}

.secret {
  color: rgba(255, 255, 255, 0) !important;
  cursor: unset;
  pointer-events: none;
}

.secret::before {
  display: none;
}

.menu a {
  display: inline-block;
  margin: 1rem 0;
}

.socialsMenu.mobile .menu a {
  margin: 0.75rem 0;
}

.socialsMenu.open .menu {
  background-color: var(--accent-dark);
  clip-path: inset(0 0 0 0);
}

.socialsMenu.open .menu a:not(.secret) {
  color: var(--text-dark);
}

.socialsMenu.open .menu a::before {
  background-color: var(--text-dark);
}

.open .arrow {
  transform: rotateZ(270deg) scale(var(--little-arrow));
}

.open .wrapper:hover .arrow {
  transform: rotateZ(270deg) scale(var(--big-arrow));
}

@media (min-width: 2400px) {
  .socialsMenu p, .socialsMenu a {
    font-size: 2.5rem;
  }

  .navLinkDesktop::before {
    height: 0.2vh;
  }

  .socialsMenu {
    --little-arrow: 1.1;
    --big-arrow: 1.3;
  }
}

@media (min-width: 3700px) {
  .socialsMenu p, .socialsMenu a {
    font-size: 3.5rem;
  }

  .socialsMenu {
    --little-arrow: 2;
    --big-arrow: 2.8;
  }
}