:root {
  --dark: #272A33;
  --text-dark: #3A3838;
  --accent-light: #E5E5EC;
  --accent-dark: #798DC9;

  --carousel-width: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1vh;
  bottom: -2px;
  left: 0;
  background-color: var(--dark);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scrollIndicator {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5%;
  left: 50%;

  transform: translateX(-50%);
}

.circle {
  width: 15px;
  height: 15px;
  transform: none;
}

.circle path {
  fill: var(--text-dark);
}

.circle:first-child {
  opacity: 0;
  
  animation: top-move linear 1s infinite;
}

.circle:nth-child(2) {
  opacity: 1;

  animation: mid-move linear 1s infinite;
}

.circle:nth-child(3) {
  opacity: 1;
  
  animation: bottom-move linear 1s infinite;
}

@keyframes top-move {
  from {
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 0;
  }

  to {
    transform: translateY(15px);
    opacity: 1;
  }
}

@keyframes mid-move {
  from {
    transform: none;
  }

  to {
    transform: translateY(15px);
  }
}

@keyframes bottom-move {
  from {
    opacity: 1;

    transform: none;
  }

  to {
    opacity: 0;
    transform: translateY(15px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}