.categories {
  display: flex;
  position: relative;
  width: 100%;
  font-family: "Proxima Nova", sans-serif;
  color: var(--text-dark);
  align-items: center;
  justify-content: space-around;
}

.categories a {
  cursor: pointer;

  transition: color ease 0.3s;
}

.categories a::before {
  display: none;
}

.categories::before,
.categories::after {
  content: '';
  position: absolute;
  background-color: var(--text-dark);
  height: 1px;
  width: 15px;
}

.categories::before {
  left: 0;
}

.categories::after {
  right: 0;
}

.inactive {
  color: var(--text-light);
}