.wrapper {
  position: relative;
  width: 100%;
}

.categories {
  display: flex;
  position: relative;
  font-family: "Proxima Nova", sans-serif;
  color: var(--text-dark);
  align-items: center;
  justify-content: space-around;
}

.mobileDashes {
  display: none;
}

.categories button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;

  font-family: "Proxima Nova", sans-serif;
  transition: color ease 0.3s;
}

.categories::before,
.categories::after {
  content: '—';
  position: absolute;
  top: 0;
  width: 15px;
}

.categories::before {
  left: 0;
}

.categories::after {
  right: 0;
}

.inactive {
  color: var(--text-light);
}

@media (max-width: 1200px) {
  .categories {
    display: grid;
    grid-auto-flow: column;
    padding: 0 10%;
    white-space: nowrap;
    overflow-x: scroll;
  }

  .categories button {
    margin: 0 15px;
    font-size: 1.5rem;
  }

  .mobileDashes {
    display: flex;
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    z-index: 50;
  }

  .mobileDashes p {
    z-index: 75;
  }

  .fader {
    position: absolute;
    right: 0;
    left: 80%;
    height: 100%;
    z-index: 60;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  }
  .categories::before {
    display: none;
  }

  .categories::after {
    display: block;
    position: static;
    content: ' ';
    width: 50px;
    background-color: transparent;
  }
}

@media (max-width: 1000px) {
  .categories button {
    font-size: 1rem;
  }
}