.carouselContent {
  pointer-events: none;
  z-index: -1;
  height: 100%;
  width: auto;
  display: grid;
  gap: 20px;
  padding: calc(10px + 4%) 0 calc(25px + 4%);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 20%;
  grid-auto-flow: column;
  justify-content: start;
}

.spacer {
  display: none;
}

.carouselContent::before {
  content: '';
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.carouselContent::after {
  content: '';
  grid-row: 1 / 3;
  width: 25%;
}

.image {
  z-index: inherit;
  -webkit-box-shadow: 0px 10px 15px 2px #333333;
  box-shadow: 0px 10px 15px 2px #333333;

  pointer-events: visibleFill;
  cursor: pointer;
  transform: none;
  transform-origin: center;

  transition: all ease-in-out 0.2s;
}

@media (min-width: 1201px) {
  .image:hover {
    transform: scale(1.1);
    z-index: 99;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .carouselContent {
    display: grid;
    gap: 30px;
    padding: calc(10px + 4%) 0 calc(25px + 4%);
    grid-template-rows: 90%;
    grid-auto-columns: clamp(25px, 15%, 175px);
    grid-auto-flow: column;
    justify-content: start;
  }

  .image {
    grid-row: 1;
    grid-column: span 3;
  }

  .spacer {
    display: block;
  }

  .carouselContent::before {
    display: none;
  }
  
  .carouselContent::after {
    display: none;
  }
}