.carousel {
  overflow-x: hidden;
  height: 100vh;
  display: grid;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(121,141,201,1) 100%);
  grid-template-columns: 1fr repeat(2, 38%) 10% 1fr;
  grid-template-rows: 5vh 5vh 5vh 50vh 5vh 20vh 10vh;
  grid-template-areas:
    ".   .    .       .       ."
    ".   .    .       .       ."
    ".   .    .       .       ."
    ". avatar .       .       ."
    ".   .    .       .       ."
    ". text   seemore seemore ."
    ".   .    .       .       ."
    ;
}

.carousel * {
  z-index: 2;
  scrollbar-width: none;
}

.carousel *::-webkit-scrollbar {
  display: none;
}

.avatar {
  grid-area: avatar;
  pointer-events: none;
  -webkit-filter: drop-shadow(5px 5px 5px #333333);
  filter: drop-shadow(5px 5px 5px #333333);
}

.avatarText {
  font-family: "Chantal", sans-serif;
  grid-area: text;
  align-self: center;

  font-size: 4rem;
  font-weight: 300;
  color: var(--dark);
}

.seeMore {
  position: relative;
  display: flex;
  color: var(--text-dark);
  font-size: 1.2rem;
  grid-area: seemore;
  justify-self: end;
  justify-content: center;
  padding-right: 5%;
  align-items: center;
  align-self: end;
}

.seeMore a {
  margin-right: 5px;
}

.carouselImages {
  position: relative;
  height: 100%;
  overflow-y: visible;
  overflow-x: scroll;
  z-index: 0;
  grid-area: 4 / 1 / 7 / 6;

}

.carouselImages::-webkit-scrollbar {
  display: none;
}

.scrollRight {
  z-index: 202;
  grid-area: rscroll;
}

.scrollLeft {
  z-index: 202;
  grid-area: 4 / 2 / 7 / 3;
}

.slider {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

input[type=range].sliderLiteral {
  display: block;
  align-self: end;
  justify-self: end;
  grid-area: 6 / 3 / 7 / 5;
  width: 50%;
}

input[type=range].sliderLiteral {
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].sliderLiteral:focus {
  outline: none;
}
input[type=range].sliderLiteral::-webkit-slider-runnable-track {
  background: #616fa1;
  border: 0;
  border-radius: 25px;
  height: 12px;
  cursor: pointer;
}
input[type=range].sliderLiteral::-webkit-slider-thumb {
  margin-top: 0px;
  width: 32px;
  height: 12px;
  background: #798dc9;
  border: 1.9px solid rgba(0, 30, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].sliderLiteral:focus::-webkit-slider-runnable-track {
  background: #616fa1;
}
input[type=range].sliderLiteral::-moz-range-track {
  background: #616fa1;
  border: 0;
  border-radius: 25px;
  height: 12px;
  cursor: pointer;
}
input[type=range].sliderLiteral::-moz-range-thumb {
  width: 32px;
  height: 12px;
  background: #798dc9;
  border: 1.9px solid rgba(0, 30, 0, 0);
  border-radius: 50px;
  cursor: pointer;
}
input[type=range].sliderLiteral::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  height: 12px;
  cursor: pointer;
}
input[type=range].sliderLiteral::-ms-fill-lower {
  background: #616fa1;
  border: 0;
  border-radius: 50px;
}
input[type=range].sliderLiteral::-ms-fill-upper {
  background: #616fa1;
  border: 0;
  border-radius: 50px;
}
input[type=range].sliderLiteral::-ms-thumb {
  width: 32px;
  height: 12px;
  background: #798dc9;
  border: 1.9px solid rgba(0, 30, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].sliderLiteral:focus::-ms-fill-lower {
  background: #616fa1;
}
input[type=range].sliderLiteral:focus::-ms-fill-upper {
  background: #616fa1;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].sliderLiteral {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

@media (max-width: 1000px) {
  .carousel {
    background: none;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows: 1fr 35% 15% 45% 5% 1fr;
    grid-template-areas:
      ".      .            ."
      ".      avatar       ."
      ".      text         ."
      "images images  images"
      ".      seemore      ."
      ".      .            ."
      ;
  }

  .avatarText {
    align-self: center;
    text-align: center;
  
    font-size: 2rem;
    font-weight: 300;
    color: var(--dark);
  }

  .carouselImages {
    grid-area: images;
  }

  .seeMore {
    font-size: 1.2rem;
    grid-area: seemore;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: end;
  }
}