.carousel {
  height: 100vh;
  display: grid;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(121,141,201,1) 100%);
  grid-template-columns: auto repeat(2, 38%) auto;
  grid-template-rows: auto 50% 5% 20% auto;
  grid-template-areas:
    ".   .      .    ."
    ". avatar images images"
    ".   .    images images"
    ". text   images images"
    ".   .      .    ."
    ;
}

.carousel * {
  z-index: 2;
}

.avatar {
  grid-area: avatar;
  -webkit-filter: drop-shadow(5px 5px 5px #333333);
  filter: drop-shadow(5px 5px 5px #333333);
}

.avatarText {
  font-family: "Chantal", sans-serif;
  grid-area: text;
  align-self: end;

  font-size: 4rem;
  font-weight: 300;
  color: var(--dark);
}

.carouselImages {
  overflow-y: visible;
  overflow-x: scroll;
  z-index: 0;
  padding: 10px 0 25px;
  grid-area: 2 / 1 / 5 / 5;
  scrollbar-width: none;
}

.carouselImages::-webkit-scrollbar {
  display: none;
}