.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: var(--text-dark);
  color: var(--accent-light);
  padding: 3rem 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.tm {
  color: inherit;
  font-weight: regular;
  margin: 2rem 0;
  font-size: 0.8rem;
  color: #88888d;
}

.footer li {
  display: block;
}

.icon {
  width: clamp(75px, 75%, 150px);
  margin: 0 auto;
}

.list {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  justify-content: center;
  gap: 15px
}

.imgWrapper {
  width: 100%;
  height: 100%;
  place-self: center;
}

.list > li {
  margin: 0 1rem;
}

.footer a {
  color: #88888d;
}

.footer a::before, .footer a::after {
  display: none;
}

.pSpacer {
  color: rgba(255, 255, 255, 0);
}

.subList {
  color: #88888d;
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.subList li {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: unset;
}

.disabled a {
  color: #5f5f63;
}

.subList > li {
  margin-bottom: 0.25rem;
}

@media (max-width: 1200px) {
  .imgWrapper {
    order: 4;
  }
}

@media (max-width: 1000px) and (orientation: portrait) {
  .subList > li {
    margin-bottom: 1rem;
  }

  .imgWrapper {
    order: 4;
  }
}